* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;

}

#root{
  height: 100%;
}

.leaflet-control-attribution {
  display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f5ff; /* primary-100 */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3a6bff, #0d4aff); /* primary base to 500 */
    border-radius: 5px;
    border: 2px solid #f0f5ff;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0d4aff, #0026b7); /* primary 500 to 600 */
}
