-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "ParamType" AS ENUM ('coords', 'number', 'date', 'string');

-- CreateEnum
CREATE TYPE "MarkerType" AS ENUM ('poly', 'point');

-- CreateTable
CREATE TABLE "PMC" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "hasTracks" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "PMC_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Param" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "type" "ParamType" NOT NULL,
    "pmcId" UUID NOT NULL,

    CONSTRAINT "Param_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Layer" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "pmcId" UUID NOT NULL,

    CONSTRAINT "Layer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Marker" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "type" "MarkerType" NOT NULL,
    "layerId" UUID NOT NULL,

    CONSTRAINT "Marker_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "PMC_name_key" ON "PMC"("name");

-- AddForeignKey
ALTER TABLE "Param" ADD CONSTRAINT "Param_pmcId_fkey" FOREIGN KEY ("pmcId") REFERENCES "PMC"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Layer" ADD CONSTRAINT "Layer_pmcId_fkey" FOREIGN KEY ("pmcId") REFERENCES "PMC"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Marker" ADD CONSTRAINT "Marker_layerId_fkey" FOREIGN KEY ("layerId") REFERENCES "Layer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

